* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.container {
    width:80%;
    margin: 0px auto;
}

.navbar {
    width: 100%;
    height: 75px;
    background-color: #F66;
}

.navbar-top {
    width: 100%;
    height: 125px;
    background-color: #F66;
}

.topbar {
    width: 100%;
    height:50px;
    background-color: #333;
}

.navbar ul {
    display: flex;
    height:75px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
}

.navbar ul li a {
    color: #FFF;
}

.navbar-top ul {
    display: flex;
    height:75px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
}

.navbar-top ul li a {
    color: #FFF;
}